In [4]:
# Import SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
from config import username, password

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create a connection to a SQLite database

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL_DB')

In [3]:
conn = engine.connect()

In [11]:
total_data = pd.read_sql("SELECT * FROM total", conn)
cancer_data = pd.read_sql("SELECT * FROM cancer", conn)
cerebro_data = pd.read_sql("SELECT * FROM cerebrovascular_disease", conn)
clrd_data = pd.read_sql("SELECT * FROM chronic_lower_respiratory_disease", conn)
dementia_data = pd.read_sql("SELECT * FROM dementia", conn)
diabetes_data = pd.read_sql("SELECT * FROM diabetes", conn)
heart_data = pd.read_sql("SELECT * FROM heart_disease", conn)
pneumonia_data = pd.read_sql("SELECT * FROM pneumonia", conn)
respiratory_data = pd.read_sql("SELECT * FROM respiratory_disease", conn)

In [8]:
total_data.head()

,date,2015-19 range,COVID-19 new infections,2015-19 average deaths,2020-21 deaths
0,05-Jan-20,2452|2573,NaN,2498,2498
1,12-Jan-20,2369|2601,NaN,2490,2511
2,19-Jan-20,2368|2607,NaN,2465,2501
3,26-Jan-20,2328|2565,4.0,2446,2597
4,02-Feb-20,2270|2550,8.0,2451,2510

In [15]:
cancer_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       847|906                     868             849
1  12-Jan-20       817|917                     869             899
2  19-Jan-20       853|915                     874             912
3  26-Jan-20       806|942                     870             931
4  02-Feb-20       762|933                     864             830

In [13]:
cerebro_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       159|200                     182             139
1  12-Jan-20       162|190                     178             166
2  19-Jan-20       144|179                     167             141
3  26-Jan-20       165|203                     176             159
4  02-Feb-20       156|175                     168             162

In [17]:
clrd_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       117|157                     133             127
1  12-Jan-20       110|144                     124             145
2  19-Jan-20       104|138                     118             120
3  26-Jan-20       113|141                     126             132
4  02-Feb-20       114|134                     125             134

In [21]:
dementia_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       217|256                     232             255
1  12-Jan-20       208|240                     224             265
2  19-Jan-20       206|237                     220             257
3  26-Jan-20       186|247                     218             248
4  02-Feb-20       196|234                     220             276

In [22]:
diabetes_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20         66|78                      71              86
1  12-Jan-20         69|79                      74              71
2  19-Jan-20         74|97                      83              71
3  26-Jan-20         62|99                      80              77
4  02-Feb-20         63|88                      78              80

In [23]:
heart_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       245|291                     269             215
1  12-Jan-20       246|272                     258             218
2  19-Jan-20       244|304                     272             234
3  26-Jan-20       210|271                     245             244
4  02-Feb-20       257|276                     267             235

In [24]:
pneumonia_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20         37|58                      45              42
1  12-Jan-20         37|49                      42              40
2  19-Jan-20         33|44                      37              37
3  26-Jan-20         29|40                      35              44
4  02-Feb-20         31|50                      37              31

In [25]:
respiratory_data.head()

        date 2015-19 range  2015-19 average deaths  2020-21 deaths
0  05-Jan-20       215|263                     233             240
1  12-Jan-20       203|251                     220             240
2  19-Jan-20       193|233                     206             222
3  26-Jan-20       197|242                     218             242
4  02-Feb-20       200|229                     219             226

In [ ]:
test