In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
from config import username, password

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create a connection to a SQLite database

# engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL_DB')
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL')

In [3]:
conn = engine.connect()

In [4]:
total_data = pd.read_sql("SELECT * FROM total", conn)
cancer_data = pd.read_sql("SELECT * FROM cancer", conn)
cerebro_data = pd.read_sql("SELECT * FROM cerebrovascular_disease", conn)
clrd_data = pd.read_sql("SELECT * FROM chronic_lower_respiratory_disease", conn)
dementia_data = pd.read_sql("SELECT * FROM dementia", conn)
diabetes_data = pd.read_sql("SELECT * FROM diabetes", conn)
heart_data = pd.read_sql("SELECT * FROM heart_disease", conn)
pneumonia_data = pd.read_sql("SELECT * FROM pneumonia", conn)
respiratory_data = pd.read_sql("SELECT * FROM respiratory_disease", conn)

In [5]:
total_data['COVID-19 new infections'] = total_data['COVID-19 new infections'].fillna(0).astype(int)
total_data.head()

,date,2015-19 range,COVID-19 new infections,2015-19 average deaths,2020-21 deaths
0,05-Jan-20,2452|2573,0,2498,2498
1,12-Jan-20,2369|2601,0,2490,2511
2,19-Jan-20,2368|2607,0,2465,2501
3,26-Jan-20,2328|2565,4,2446,2597
4,02-Feb-20,2270|2550,8,2451,2510

In [6]:
# dropping redundant columns
new_total_data = total_data.drop(['COVID-19 new infections'], axis=1)

#cleaning total_data table
#adding new columns of total and percent change
new_total_data['total change'] = new_total_data['2020-21 deaths'] - new_total_data['2015-19 average deaths']
new_total_data['percent total change'] = (new_total_data['2020-21 deaths'] / new_total_data['2015-19 average deaths']) * 100 - 100
new_total_data = new_total_data.round(2)

#renaming columns for future joins
new_total_data = new_total_data.rename({'2015-19 average deaths': '2015-19 avg total deaths',
                               '2020-21 deaths': '2020-21 total deaths'}, axis=1)

new_total_data.head()

,date,2015-19 range,2015-19 avg total deaths,2020-21 total deaths,total change,percent total change
0,05-Jan-20,2452|2573,2498,2498,0,0.00
1,12-Jan-20,2369|2601,2490,2511,21,0.84
2,19-Jan-20,2368|2607,2465,2501,36,1.46
3,26-Jan-20,2328|2565,2446,2597,151,6.17
4,02-Feb-20,2270|2550,2451,2510,59,2.41

In [7]:
print(new_total_data["2015-19 avg total deaths"].mean())
print(new_total_data["2020-21 total deaths"].mean())

2668.4262295081967
2685.032786885246

In [8]:
#cleaning total_data table
#adding new columns of total and percent change
cancer_data['total change'] = cancer_data['2020-21 deaths'] - cancer_data['2015-19 average deaths']
cancer_data['percent total change'] = (cancer_data['2020-21 deaths'] / cancer_data['2015-19 average deaths']) * 100 - 100
cancer_data = cancer_data.round(2)

#renaming columns for future joins
cancer_data = cancer_data.rename({'2015-19 average deaths': '2015-19 avg cancer deaths',
                               '2020-21 deaths': '2020-21 cancer deaths'}, axis=1)

cancer_data.head()

,date,2015-19 range,2015-19 avg cancer deaths,2020-21 cancer deaths,total change,percent total change
0,05-Jan-20,847|906,868,849,-19,-2.19
1,12-Jan-20,817|917,869,899,30,3.45
2,19-Jan-20,853|915,874,912,38,4.35
3,26-Jan-20,806|942,870,931,61,7.01
4,02-Feb-20,762|933,864,830,-34,-3.94

In [9]:
#cleaning total_data table
#adding new columns of total and percent change
cerebro_data['total change'] = cerebro_data['2020-21 deaths'] - cerebro_data['2015-19 average deaths']
cerebro_data['percent total change'] = (cerebro_data['2020-21 deaths'] / cerebro_data['2015-19 average deaths']) * 100 - 100
cerebro_data = cerebro_data.round(2)

#renaming columns for future joins
cerebro_data = cerebro_data.rename({'2015-19 average deaths': '2015-19 cerebrovascular disease deaths',
                               '2020-21 deaths': '2020-21 cerebrovascular disease deaths'}, axis=1)

cerebro_data.head()

,date,2015-19 range,2015-19 cerebrovascular disease deaths,2020-21 cerebrovascular disease deaths,total change,percent total change
0,05-Jan-20,159|200,182,139,-43,-23.63
1,12-Jan-20,162|190,178,166,-12,-6.74
2,19-Jan-20,144|179,167,141,-26,-15.57
3,26-Jan-20,165|203,176,159,-17,-9.66
4,02-Feb-20,156|175,168,162,-6,-3.57

In [10]:
#cleaning total_data table
#adding new columns of total and percent change
clrd_data['total change'] = clrd_data['2020-21 deaths'] - clrd_data['2015-19 average deaths']
clrd_data['percent total change'] = (clrd_data['2020-21 deaths'] / clrd_data['2015-19 average deaths']) * 100 - 100
clrd_data = clrd_data.round(2)

#renaming columns for future joins
clrd_data = clrd_data.rename({'2015-19 average deaths': '2015-19 avg chronic lower respiratory disease deaths',
                               '2020-21 deaths': '2020-21 chronic lower respiratory disease deaths'}, axis=1)

clrd_data.head()

,date,2015-19 range,2015-19 avg chronic lower respiratory disease deaths,2020-21 chronic lower respiratory disease deaths,total change,percent total change
0,05-Jan-20,117|157,133,127,-6,-4.51
1,12-Jan-20,110|144,124,145,21,16.94
2,19-Jan-20,104|138,118,120,2,1.69
3,26-Jan-20,113|141,126,132,6,4.76
4,02-Feb-20,114|134,125,134,9,7.20

In [11]:
#cleaning total_data table
#adding new columns of total and percent change
dementia_data['total change'] = dementia_data['2020-21 deaths'] - dementia_data['2015-19 average deaths']
dementia_data['percent total change'] = (dementia_data['2020-21 deaths'] / dementia_data['2015-19 average deaths']) * 100 - 100
dementia_data = dementia_data.round(2)

#renaming columns for future joins
dementia_data = dementia_data.rename({'2015-19 average deaths': '2015-19 avg dementia deaths',
                               '2020-21 deaths': '2020-21 dementia deaths'}, axis=1)

dementia_data.head()

,date,2015-19 range,2015-19 avg dementia deaths,2020-21 dementia deaths,total change,percent total change
0,05-Jan-20,217|256,232,255,23,9.91
1,12-Jan-20,208|240,224,265,41,18.30
2,19-Jan-20,206|237,220,257,37,16.82
3,26-Jan-20,186|247,218,248,30,13.76
4,02-Feb-20,196|234,220,276,56,25.45

In [12]:
#cleaning total_data table
#adding new columns of total and percent change
diabetes_data['total change'] = diabetes_data['2020-21 deaths'] - diabetes_data['2015-19 average deaths']
diabetes_data['percent total change'] = (diabetes_data['2020-21 deaths'] / diabetes_data['2015-19 average deaths']) * 100 - 100
diabetes_data = diabetes_data.round(2)

#renaming columns for future joins
diabetes_data = diabetes_data.rename({'2015-19 average deaths': '2015-19 avg diabetes deaths',
                               '2020-21 deaths': '2020-21 diabetes deaths'}, axis=1)

diabetes_data.head()

,date,2015-19 range,2015-19 avg diabetes deaths,2020-21 diabetes deaths,total change,percent total change
0,05-Jan-20,66|78,71,86,15,21.13
1,12-Jan-20,69|79,74,71,-3,-4.05
2,19-Jan-20,74|97,83,71,-12,-14.46
3,26-Jan-20,62|99,80,77,-3,-3.75
4,02-Feb-20,63|88,78,80,2,2.56

In [13]:
#cleaning total_data table
#adding new columns of total and percent change
heart_data['total change'] = heart_data['2020-21 deaths'] - heart_data['2015-19 average deaths']
heart_data['percent total change'] = (heart_data['2020-21 deaths'] / heart_data['2015-19 average deaths']) * 100 - 100
heart_data = heart_data.round(2)

#renaming columns for future joins
heart_data = heart_data.rename({'2015-19 average deaths': '2015-19 avg heart disease deaths',
                               '2020-21 deaths': '2020-21 heart disease deaths'}, axis=1)

heart_data.head()

,date,2015-19 range,2015-19 avg heart disease deaths,2020-21 heart disease deaths,total change,percent total change
0,05-Jan-20,245|291,269,215,-54,-20.07
1,12-Jan-20,246|272,258,218,-40,-15.50
2,19-Jan-20,244|304,272,234,-38,-13.97
3,26-Jan-20,210|271,245,244,-1,-0.41
4,02-Feb-20,257|276,267,235,-32,-11.99

In [14]:
#cleaning total_data table
#adding new columns of total and percent change
pneumonia_data['total change'] = pneumonia_data['2020-21 deaths'] - pneumonia_data['2015-19 average deaths']
pneumonia_data['percent total change'] = (pneumonia_data['2020-21 deaths'] / pneumonia_data['2015-19 average deaths']) * 100 - 100
pneumonia_data = pneumonia_data.round(2)

#renaming columns for future joins
pneumonia_data = pneumonia_data.rename({'2015-19 average deaths': '2015-19 avg pneumonia deaths',
                               '2020-21 deaths': '2020-21 pneumonia deaths'}, axis=1)

pneumonia_data.head()

,date,2015-19 range,2015-19 avg pneumonia deaths,2020-21 pneumonia deaths,total change,percent total change
0,05-Jan-20,37|58,45,42,-3,-6.67
1,12-Jan-20,37|49,42,40,-2,-4.76
2,19-Jan-20,33|44,37,37,0,0.00
3,26-Jan-20,29|40,35,44,9,25.71
4,02-Feb-20,31|50,37,31,-6,-16.22

In [15]:
#cleaning total_data table
#adding new columns of total and percent change
respiratory_data['total change'] = respiratory_data['2020-21 deaths'] - respiratory_data['2015-19 average deaths']
respiratory_data['percent total change'] = (respiratory_data['2020-21 deaths'] / respiratory_data['2015-19 average deaths']) * 100 - 100
respiratory_data = respiratory_data.round(2)

#renaming columns for future joins
respiratory_data = respiratory_data.rename({'2015-19 average deaths': '2015-19 avg respiratory disease deaths',
                              '2020-21 deaths': '2020-21 respiratory disease deaths'}, axis=1)

respiratory_data.head()

,date,2015-19 range,2015-19 avg respiratory disease deaths,2020-21 respiratory disease deaths,total change,percent total change
0,05-Jan-20,215|263,233,240,7,3.00
1,12-Jan-20,203|251,220,240,20,9.09
2,19-Jan-20,193|233,206,222,16,7.77
3,26-Jan-20,197|242,218,242,24,11.01
4,02-Feb-20,200|229,219,226,7,3.20

In [16]:
data = [total_data["date"],
        new_total_data["2015-19 avg total deaths"],
        cancer_data["2015-19 avg cancer deaths"],
        cerebro_data["2015-19 cerebrovascular disease deaths"], 
        clrd_data["2015-19 avg chronic lower respiratory disease deaths"], 
        dementia_data["2015-19 avg dementia deaths"],
        diabetes_data["2015-19 avg diabetes deaths"],
        heart_data["2015-19 avg heart disease deaths"],
        pneumonia_data["2015-19 avg pneumonia deaths"],
        respiratory_data["2015-19 avg respiratory disease deaths"]]
Deaths_Summary2015_19 = pd.DataFrame(data)
print(Deaths_Summary2015_19)

                                                           0          1   \
date                                                05-Jan-20  12-Jan-20
2015-19 avg total deaths                                 2498       2490
2015-19 avg cancer deaths                                 868        869
2015-19 cerebrovascular disease deaths                    182        178
2015-19 avg chronic lower respiratory disease d...        133        124
2015-19 avg dementia deaths                               232        224
2015-19 avg diabetes deaths                                71         74
2015-19 avg heart disease deaths                          269        258
2015-19 avg pneumonia deaths                               45         42
2015-19 avg respiratory disease deaths                    233        220

                                                           2          3   \
date                                                19-Jan-20  26-Jan-20
2015-19 avg total deaths                                 2465       2446
2015-19 avg cancer deaths                                 874        870
2015-19 cerebrovascular disease deaths                    167        176
2015-19 avg chronic lower respiratory disease d...        118        126
2015-19 avg dementia deaths                               220        218
2015-19 avg diabetes deaths                                83         80
2015-19 avg heart disease deaths                          272        245
2015-19 avg pneumonia deaths                               37         35
2015-19 avg respiratory disease deaths                    206        218

                                                           4          5   \
date                                                02-Feb-20  09-Feb-20
2015-19 avg total deaths                                 2451       2456
2015-19 avg cancer deaths                                 864        858
2015-19 cerebrovascular disease deaths                    168        165
2015-19 avg chronic lower respiratory disease d...        125        119
2015-19 avg dementia deaths                               220        224
2015-19 avg diabetes deaths                                78         85
2015-19 avg heart disease deaths                          267        265
2015-19 avg pneumonia deaths                               37         35
2015-19 avg respiratory disease deaths                    219        212

                                                           6          7   \
date                                                16-Feb-20  23-Feb-20
2015-19 avg total deaths                                 2463       2488
2015-19 avg cancer deaths                                 858        892
2015-19 cerebrovascular disease deaths                    170        175
2015-19 avg chronic lower respiratory disease d...        118        109
2015-19 avg dementia deaths                               226        226
2015-19 avg diabetes deaths                                75         77
2015-19 avg heart disease deaths                          250        255
2015-19 avg pneumonia deaths                               43         40
2015-19 avg respiratory disease deaths                    216        206

                                                           8          9   ...  \
date                                                01-Mar-20  08-Mar-20  ...
2015-19 avg total deaths                                 2487       2525  ...
2015-19 avg cancer deaths                                 906        906  ...
2015-19 cerebrovascular disease deaths                    165        173  ...
2015-19 avg chronic lower respiratory disease d...        113        120  ...
2015-19 avg dementia deaths                               225        230  ...
2015-19 avg diabetes deaths                                79         75  ...
2015-19 avg heart disease deaths                          260        261  ...
2015-19 avg pneumonia deaths                               40         36  ...
2015-19 avg respiratory disease deaths                    213        213  ...

                                                           51         52  \
date                                                27-Dec-20  03-Jan-21
2015-19 avg total deaths                                 2458       2458
2015-19 avg cancer deaths                                 858        858
2015-19 cerebrovascular disease deaths                    168        168
2015-19 avg chronic lower respiratory disease d...        125        125
2015-19 avg dementia deaths                               234        234
2015-19 avg diabetes deaths                                82         82
2015-19 avg heart disease deaths                          240        240
2015-19 avg pneumonia deaths                               42         42
2015-19 avg respiratory disease deaths                    227        227

                                                           53         54  \
date                                                10-Jan-21  17-Jan-21
2015-19 avg total deaths                                 2498       2490
2015-19 avg cancer deaths                                 868        869
2015-19 cerebrovascular disease deaths                    182        178
2015-19 avg chronic lower respiratory disease d...        133        124
2015-19 avg dementia deaths                               232        224
2015-19 avg diabetes deaths                                71         74
2015-19 avg heart disease deaths                          269        258
2015-19 avg pneumonia deaths                               45         42
2015-19 avg respiratory disease deaths                    233        220

                                                           55         56  \
date                                                24-Jan-21  31-Jan-21
2015-19 avg total deaths                                 2465       2446
2015-19 avg cancer deaths                                 874        870
2015-19 cerebrovascular disease deaths                    167        176
2015-19 avg chronic lower respiratory disease d...        118        126
2015-19 avg dementia deaths                               220        218
2015-19 avg diabetes deaths                                83         80
2015-19 avg heart disease deaths                          272        245
2015-19 avg pneumonia deaths                               37         35
2015-19 avg respiratory disease deaths                    206        218

                                                           57         58  \
date                                                07-Feb-21  14-Feb-21
2015-19 avg total deaths                                 2451       2456
2015-19 avg cancer deaths                                 864        858
2015-19 cerebrovascular disease deaths                    168        165
2015-19 avg chronic lower respiratory disease d...        125        119
2015-19 avg dementia deaths                               220        224
2015-19 avg diabetes deaths                                78         85
2015-19 avg heart disease deaths                          267        265
2015-19 avg pneumonia deaths                               37         35
2015-19 avg respiratory disease deaths                    219        212

                                                           59         60
date                                                21-Feb-21  28-Feb-21
2015-19 avg total deaths                                 2463       2488
2015-19 avg cancer deaths                                 858        892
2015-19 cerebrovascular disease deaths                    170        175
2015-19 avg chronic lower respiratory disease d...        118        109
2015-19 avg dementia deaths                               226        226
2015-19 avg diabetes deaths                                75         77
2015-19 avg heart disease deaths                          250        255
2015-19 avg pneumonia deaths                               43         40
2015-19 avg respiratory disease deaths                    216        206

[10 rows x 61 columns]

In [17]:
Deaths_Summary2015_19 = Deaths_Summary2015_19.T
Deaths_Summary2015_19

,date,2015-19 avg total deaths,2015-19 avg cancer deaths,2015-19 cerebrovascular disease deaths,2015-19 avg chronic lower respiratory disease deaths,2015-19 avg dementia deaths,2015-19 avg diabetes deaths,2015-19 avg heart disease deaths,2015-19 avg pneumonia deaths,2015-19 avg respiratory disease deaths
0,05-Jan-20,2498,868,182,133,232,71,269,45,233
1,12-Jan-20,2490,869,178,124,224,74,258,42,220
2,19-Jan-20,2465,874,167,118,220,83,272,37,206
3,26-Jan-20,2446,870,176,126,218,80,245,35,218
4,02-Feb-20,2451,864,168,125,220,78,267,37,219
...,...,...,...,...,...,...,...,...,...,...
56,31-Jan-21,2446,870,176,126,218,80,245,35,218
57,07-Feb-21,2451,864,168,125,220,78,267,37,219
58,14-Feb-21,2456,858,165,119,224,85,265,35,212
59,21-Feb-21,2463,858,170,118,226,75,250,43,216
60,28-Feb-21,2488,892,175,109,226,77,255,40,206

In [18]:
data = [total_data["date"],
            total_data["COVID-19 new infections"], 
            new_total_data["2020-21 total deaths"],
            cancer_data["2020-21 cancer deaths"],
            cerebro_data["2020-21 cerebrovascular disease deaths"],
            clrd_data["2020-21 chronic lower respiratory disease deaths"],
            dementia_data["2020-21 dementia deaths"],
            diabetes_data["2020-21 diabetes deaths"],
            heart_data["2020-21 heart disease deaths"], 
            pneumonia_data["2020-21 pneumonia deaths"], 
            respiratory_data["2020-21 respiratory disease deaths"], 
            ]
Deaths_Summary2020_21 = pd.DataFrame(data)
Deaths_Summary2020_21

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
date,05-Jan-20,12-Jan-20,19-Jan-20,26-Jan-20,02-Feb-20,09-Feb-20,16-Feb-20,23-Feb-20,01-Mar-20,08-Mar-20,...,27-Dec-20,03-Jan-21,10-Jan-21,17-Jan-21,24-Jan-21,31-Jan-21,07-Feb-21,14-Feb-21,21-Feb-21,28-Feb-21
COVID-19 new infections,0,0,0,4,8,3,0,7,4,53,...,136,170,108,111,59,44,39,46,25,42
2020-21 total deaths,2498,2511,2501,2597,2510,2530,2613,2608,2678,2602,...,2636,2560,2595,2515,2679,2527,2650,2534,2512,2623
2020-21 cancer deaths,849,899,912,931,830,927,935,939,956,888,...,927,900,922,897,917,894,926,914,907,948
2020-21 cerebrovascular disease deaths,139,166,141,159,162,165,164,147,158,156,...,154,179,172,149,166,156,165,159,174,164
2020-21 chronic lower respiratory disease deaths,127,145,120,132,134,111,128,130,143,134,...,117,136,139,113,131,113,127,107,110,126
2020-21 dementia deaths,255,265,257,248,276,279,256,266,288,272,...,257,278,253,255,311,289,261,240,257,266
2020-21 diabetes deaths,86,71,71,77,80,93,79,97,91,77,...,108,101,84,64,76,61,83,78,74,60
2020-21 heart disease deaths,215,218,234,244,235,207,262,262,227,240,...,233,245,230,223,248,221,249,250,208,244
2020-21 pneumonia deaths,42,40,37,44,31,41,39,42,52,38,...,36,31,27,29,34,26,37,27,37,37
2020-21 respiratory disease deaths,240,240,222,242,226,206,226,220,265,231,...,222,241,221,210,224,211,231,199,197,226

In [19]:
Deaths_Summary2020_21 = Deaths_Summary2020_21.T
Deaths_Summary2020_21

,date,COVID-19 new infections,2020-21 total deaths,2020-21 cancer deaths,2020-21 cerebrovascular disease deaths,2020-21 chronic lower respiratory disease deaths,2020-21 dementia deaths,2020-21 diabetes deaths,2020-21 heart disease deaths,2020-21 pneumonia deaths,2020-21 respiratory disease deaths
0,05-Jan-20,0,2498,849,139,127,255,86,215,42,240
1,12-Jan-20,0,2511,899,166,145,265,71,218,40,240
2,19-Jan-20,0,2501,912,141,120,257,71,234,37,222
3,26-Jan-20,4,2597,931,159,132,248,77,244,44,242
4,02-Feb-20,8,2510,830,162,134,276,80,235,31,226
...,...,...,...,...,...,...,...,...,...,...,...
56,31-Jan-21,44,2527,894,156,113,289,61,221,26,211
57,07-Feb-21,39,2650,926,165,127,261,83,249,37,231
58,14-Feb-21,46,2534,914,159,107,240,78,250,27,199
59,21-Feb-21,25,2512,907,174,110,257,74,208,37,197
60,28-Feb-21,42,2623,948,164,126,266,60,244,37,226

In [20]:
data = [cancer_data['date'], new_total_data['2015-19 avg total deaths'], cancer_data['2015-19 avg cancer deaths']]
cancer_data_2015_19 = pd.DataFrame(data)
cancer_data_2015_19 = cancer_data_2015_19.T
cancer_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg cancer deaths
0   05-Jan-20                     2498                       868
1   12-Jan-20                     2490                       869
2   19-Jan-20                     2465                       874
3   26-Jan-20                     2446                       870
4   02-Feb-20                     2451                       864
..        ...                      ...                       ...
56  31-Jan-21                     2446                       870
57  07-Feb-21                     2451                       864
58  14-Feb-21                     2456                       858
59  21-Feb-21                     2463                       858
60  28-Feb-21                     2488                       892

[61 rows x 3 columns]

In [21]:
cancer_data_2015_19['2015-19 Cancer Percentage of Total Deaths'] = (cancer_data_2015_19['2015-19 avg cancer deaths'] / cancer_data_2015_19['2015-19 avg total deaths']) * 100

cancer_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg cancer deaths,2015-19 Cancer Percentage of Total Deaths
0,05-Jan-20,2498,868,34.7478
1,12-Jan-20,2490,869,34.8996
2,19-Jan-20,2465,874,35.4564
3,26-Jan-20,2446,870,35.5683
4,02-Feb-20,2451,864,35.2509
...,...,...,...,...
56,31-Jan-21,2446,870,35.5683
57,07-Feb-21,2451,864,35.2509
58,14-Feb-21,2456,858,34.9349
59,21-Feb-21,2463,858,34.8356
60,28-Feb-21,2488,892,35.8521

In [22]:
data = [cancer_data['date'], new_total_data['2020-21 total deaths'], cancer_data['2020-21 cancer deaths']]
cancer_data_2020_21 = pd.DataFrame(data)
cancer_data_2020_21 = cancer_data_2020_21.T
cancer_data_2020_21

         date 2020-21 total deaths 2020-21 cancer deaths
0   05-Jan-20                 2498                   849
1   12-Jan-20                 2511                   899
2   19-Jan-20                 2501                   912
3   26-Jan-20                 2597                   931
4   02-Feb-20                 2510                   830
..        ...                  ...                   ...
56  31-Jan-21                 2527                   894
57  07-Feb-21                 2650                   926
58  14-Feb-21                 2534                   914
59  21-Feb-21                 2512                   907
60  28-Feb-21                 2623                   948

[61 rows x 3 columns]

In [23]:
cancer_data_2020_21['2020-21 Cancer Percentage of Total Deaths'] = (cancer_data_2020_21['2020-21 cancer deaths'] / cancer_data_2020_21['2020-21 total deaths']) * 100
cancer_data_2020_21

,date,2020-21 total deaths,2020-21 cancer deaths,2020-21 Cancer Percentage of Total Deaths
0,05-Jan-20,2498,849,33.9872
1,12-Jan-20,2511,899,35.8025
2,19-Jan-20,2501,912,36.4654
3,26-Jan-20,2597,931,35.8491
4,02-Feb-20,2510,830,33.0677
...,...,...,...,...
56,31-Jan-21,2527,894,35.3779
57,07-Feb-21,2650,926,34.9434
58,14-Feb-21,2534,914,36.0695
59,21-Feb-21,2512,907,36.1067
60,28-Feb-21,2623,948,36.1418

In [24]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], cerebro_data['2015-19 cerebrovascular disease deaths']]
cerebro_data_2015_19 = pd.DataFrame(data)
cerebro_data_2015_19 = cerebro_data_2015_19.T
cerebro_data_2015_19

         date 2015-19 avg total deaths 2015-19 cerebrovascular disease deaths
0   05-Jan-20                     2498                                    182
1   12-Jan-20                     2490                                    178
2   19-Jan-20                     2465                                    167
3   26-Jan-20                     2446                                    176
4   02-Feb-20                     2451                                    168
..        ...                      ...                                    ...
56  31-Jan-21                     2446                                    176
57  07-Feb-21                     2451                                    168
58  14-Feb-21                     2456                                    165
59  21-Feb-21                     2463                                    170
60  28-Feb-21                     2488                                    175

[61 rows x 3 columns]

In [25]:
cerebro_data_2015_19['2015-19 cerebrovascular disease Percentage of Total Deaths'] = (cerebro_data_2015_19['2015-19 cerebrovascular disease deaths'] / cerebro_data_2015_19['2015-19 avg total deaths']) * 100
cerebro_data_2015_19

,date,2015-19 avg total deaths,2015-19 cerebrovascular disease deaths,2015-19 cerebrovascular disease Percentage of Total Deaths
0,05-Jan-20,2498,182,7.28583
1,12-Jan-20,2490,178,7.14859
2,19-Jan-20,2465,167,6.77485
3,26-Jan-20,2446,176,7.19542
4,02-Feb-20,2451,168,6.85435
...,...,...,...,...
56,31-Jan-21,2446,176,7.19542
57,07-Feb-21,2451,168,6.85435
58,14-Feb-21,2456,165,6.71824
59,21-Feb-21,2463,170,6.90215
60,28-Feb-21,2488,175,7.03376

In [26]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], cerebro_data['2020-21 cerebrovascular disease deaths']]
cerebro_data_2020_21 = pd.DataFrame(data)
cerebro_data_2020_21 = cerebro_data_2020_21.T
cerebro_data_2020_21

         date 2020-21 total deaths 2020-21 cerebrovascular disease deaths
0   05-Jan-20                 2498                                    139
1   12-Jan-20                 2511                                    166
2   19-Jan-20                 2501                                    141
3   26-Jan-20                 2597                                    159
4   02-Feb-20                 2510                                    162
..        ...                  ...                                    ...
56  31-Jan-21                 2527                                    156
57  07-Feb-21                 2650                                    165
58  14-Feb-21                 2534                                    159
59  21-Feb-21                 2512                                    174
60  28-Feb-21                 2623                                    164

[61 rows x 3 columns]

In [27]:
cerebro_data_2020_21['2020-21 cerebrovascular disease Percentage of Total Deaths'] = (cerebro_data_2020_21['2020-21 cerebrovascular disease deaths'] / cerebro_data_2020_21['2020-21 total deaths']) * 100
cerebro_data_2020_21

,date,2020-21 total deaths,2020-21 cerebrovascular disease deaths,2020-21 cerebrovascular disease Percentage of Total Deaths
0,05-Jan-20,2498,139,5.56445
1,12-Jan-20,2511,166,6.61091
2,19-Jan-20,2501,141,5.63774
3,26-Jan-20,2597,159,6.12245
4,02-Feb-20,2510,162,6.45418
...,...,...,...,...
56,31-Jan-21,2527,156,6.17333
57,07-Feb-21,2650,165,6.22642
58,14-Feb-21,2534,159,6.27466
59,21-Feb-21,2512,174,6.92675
60,28-Feb-21,2623,164,6.25238

In [28]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], clrd_data['2015-19 avg chronic lower respiratory disease deaths']]
clrd_data_2015_19 = pd.DataFrame(data)
clrd_data_2015_19 = clrd_data_2015_19.T
clrd_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg chronic lower respiratory disease deaths
0,05-Jan-20,2498,133
1,12-Jan-20,2490,124
2,19-Jan-20,2465,118
3,26-Jan-20,2446,126
4,02-Feb-20,2451,125
...,...,...,...
56,31-Jan-21,2446,126
57,07-Feb-21,2451,125
58,14-Feb-21,2456,119
59,21-Feb-21,2463,118
60,28-Feb-21,2488,109

In [29]:
clrd_data_2015_19['2015-19 chronic lower respiratory disease Percentage of Total Deaths'] = (clrd_data_2015_19['2015-19 avg chronic lower respiratory disease deaths'] / clrd_data_2015_19['2015-19 avg total deaths']) * 100
clrd_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg chronic lower respiratory disease deaths,2015-19 chronic lower respiratory disease Percentage of Total Deaths
0,05-Jan-20,2498,133,5.32426
1,12-Jan-20,2490,124,4.97992
2,19-Jan-20,2465,118,4.78702
3,26-Jan-20,2446,126,5.15127
4,02-Feb-20,2451,125,5.09996
...,...,...,...,...
56,31-Jan-21,2446,126,5.15127
57,07-Feb-21,2451,125,5.09996
58,14-Feb-21,2456,119,4.84528
59,21-Feb-21,2463,118,4.79091
60,28-Feb-21,2488,109,4.38103

In [30]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], clrd_data['2020-21 chronic lower respiratory disease deaths']]
clrd_data_2020_21 = pd.DataFrame(data)
clrd_data_2020_21 = clrd_data_2020_21.T
clrd_data_2020_21

,date,2020-21 total deaths,2020-21 chronic lower respiratory disease deaths
0,05-Jan-20,2498,127
1,12-Jan-20,2511,145
2,19-Jan-20,2501,120
3,26-Jan-20,2597,132
4,02-Feb-20,2510,134
...,...,...,...
56,31-Jan-21,2527,113
57,07-Feb-21,2650,127
58,14-Feb-21,2534,107
59,21-Feb-21,2512,110
60,28-Feb-21,2623,126

In [31]:
clrd_data_2020_21['2020-21 chronic lower respiratory disease Percentage of Total Deaths'] = (clrd_data_2020_21['2020-21 chronic lower respiratory disease deaths'] / clrd_data_2020_21['2020-21 total deaths']) * 100
clrd_data_2020_21

,date,2020-21 total deaths,2020-21 chronic lower respiratory disease deaths,2020-21 chronic lower respiratory disease Percentage of Total Deaths
0,05-Jan-20,2498,127,5.08407
1,12-Jan-20,2511,145,5.77459
2,19-Jan-20,2501,120,4.79808
3,26-Jan-20,2597,132,5.08279
4,02-Feb-20,2510,134,5.33865
...,...,...,...,...
56,31-Jan-21,2527,113,4.47171
57,07-Feb-21,2650,127,4.79245
58,14-Feb-21,2534,107,4.22257
59,21-Feb-21,2512,110,4.37898
60,28-Feb-21,2623,126,4.80366

In [32]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], dementia_data['2015-19 avg dementia deaths']]
dementia_data_2015_19 = pd.DataFrame(data)
dementia_data_2015_19 = dementia_data_2015_19.T
dementia_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg dementia deaths
0   05-Jan-20                     2498                         232
1   12-Jan-20                     2490                         224
2   19-Jan-20                     2465                         220
3   26-Jan-20                     2446                         218
4   02-Feb-20                     2451                         220
..        ...                      ...                         ...
56  31-Jan-21                     2446                         218
57  07-Feb-21                     2451                         220
58  14-Feb-21                     2456                         224
59  21-Feb-21                     2463                         226
60  28-Feb-21                     2488                         226

[61 rows x 3 columns]

In [33]:
dementia_data_2015_19['2015-19 dementia Percentage of Total Deaths'] = (dementia_data_2015_19['2015-19 avg dementia deaths'] / dementia_data_2015_19['2015-19 avg total deaths']) * 100
dementia_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg dementia deaths,2015-19 dementia Percentage of Total Deaths
0,05-Jan-20,2498,232,9.28743
1,12-Jan-20,2490,224,8.99598
2,19-Jan-20,2465,220,8.92495
3,26-Jan-20,2446,218,8.91251
4,02-Feb-20,2451,220,8.97593
...,...,...,...,...
56,31-Jan-21,2446,218,8.91251
57,07-Feb-21,2451,220,8.97593
58,14-Feb-21,2456,224,9.12052
59,21-Feb-21,2463,226,9.1758
60,28-Feb-21,2488,226,9.0836

In [34]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], dementia_data['2020-21 dementia deaths']]
dementia_data_2020_21 = pd.DataFrame(data)
dementia_data_2020_21 = dementia_data_2020_21.T
dementia_data_2020_21

         date 2020-21 total deaths 2020-21 dementia deaths
0   05-Jan-20                 2498                     255
1   12-Jan-20                 2511                     265
2   19-Jan-20                 2501                     257
3   26-Jan-20                 2597                     248
4   02-Feb-20                 2510                     276
..        ...                  ...                     ...
56  31-Jan-21                 2527                     289
57  07-Feb-21                 2650                     261
58  14-Feb-21                 2534                     240
59  21-Feb-21                 2512                     257
60  28-Feb-21                 2623                     266

[61 rows x 3 columns]

In [35]:
dementia_data_2020_21['2020-21 dementia Percentage of Total Deaths'] = (dementia_data_2020_21['2020-21 dementia deaths'] / dementia_data_2020_21['2020-21 total deaths']) * 100
dementia_data_2020_21

,date,2020-21 total deaths,2020-21 dementia deaths,2020-21 dementia Percentage of Total Deaths
0,05-Jan-20,2498,255,10.2082
1,12-Jan-20,2511,265,10.5536
2,19-Jan-20,2501,257,10.2759
3,26-Jan-20,2597,248,9.54948
4,02-Feb-20,2510,276,10.996
...,...,...,...,...
56,31-Jan-21,2527,289,11.4365
57,07-Feb-21,2650,261,9.84906
58,14-Feb-21,2534,240,9.47119
59,21-Feb-21,2512,257,10.2309
60,28-Feb-21,2623,266,10.1411

In [36]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], diabetes_data['2015-19 avg diabetes deaths']]
diabetes_data_2015_19 = pd.DataFrame(data)
diabetes_data_2015_19 = diabetes_data_2015_19.T
diabetes_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg diabetes deaths
0   05-Jan-20                     2498                          71
1   12-Jan-20                     2490                          74
2   19-Jan-20                     2465                          83
3   26-Jan-20                     2446                          80
4   02-Feb-20                     2451                          78
..        ...                      ...                         ...
56  31-Jan-21                     2446                          80
57  07-Feb-21                     2451                          78
58  14-Feb-21                     2456                          85
59  21-Feb-21                     2463                          75
60  28-Feb-21                     2488                          77

[61 rows x 3 columns]

In [37]:
diabetes_data_2015_19['2015-19 diabetes Percentage of Total Deaths'] = (diabetes_data_2015_19['2015-19 avg diabetes deaths'] / diabetes_data_2015_19['2015-19 avg total deaths']) * 100
diabetes_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg diabetes deaths,2015-19 diabetes Percentage of Total Deaths
0,05-Jan-20,2498,71,2.84227
1,12-Jan-20,2490,74,2.97189
2,19-Jan-20,2465,83,3.36714
3,26-Jan-20,2446,80,3.27065
4,02-Feb-20,2451,78,3.18237
...,...,...,...,...
56,31-Jan-21,2446,80,3.27065
57,07-Feb-21,2451,78,3.18237
58,14-Feb-21,2456,85,3.46091
59,21-Feb-21,2463,75,3.04507
60,28-Feb-21,2488,77,3.09486

In [38]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], diabetes_data['2020-21 diabetes deaths']]
diabetes_data_2020_21 = pd.DataFrame(data)
diabetes_data_2020_21 = diabetes_data_2020_21.T
diabetes_data_2020_21

         date 2020-21 total deaths 2020-21 diabetes deaths
0   05-Jan-20                 2498                      86
1   12-Jan-20                 2511                      71
2   19-Jan-20                 2501                      71
3   26-Jan-20                 2597                      77
4   02-Feb-20                 2510                      80
..        ...                  ...                     ...
56  31-Jan-21                 2527                      61
57  07-Feb-21                 2650                      83
58  14-Feb-21                 2534                      78
59  21-Feb-21                 2512                      74
60  28-Feb-21                 2623                      60

[61 rows x 3 columns]

In [39]:
diabetes_data_2020_21['2020-21 diabetes Percentage of Total Deaths'] = (diabetes_data_2020_21['2020-21 diabetes deaths'] / diabetes_data_2020_21['2020-21 total deaths']) * 100
diabetes_data_2020_21

,date,2020-21 total deaths,2020-21 diabetes deaths,2020-21 diabetes Percentage of Total Deaths
0,05-Jan-20,2498,86,3.44275
1,12-Jan-20,2511,71,2.82756
2,19-Jan-20,2501,71,2.83886
3,26-Jan-20,2597,77,2.96496
4,02-Feb-20,2510,80,3.18725
...,...,...,...,...
56,31-Jan-21,2527,61,2.41393
57,07-Feb-21,2650,83,3.13208
58,14-Feb-21,2534,78,3.07814
59,21-Feb-21,2512,74,2.94586
60,28-Feb-21,2623,60,2.28746

In [40]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], heart_data['2015-19 avg heart disease deaths']]
heart_data_2015_19 = pd.DataFrame(data)
heart_data_2015_19 = heart_data_2015_19.T
heart_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg heart disease deaths
0   05-Jan-20                     2498                              269
1   12-Jan-20                     2490                              258
2   19-Jan-20                     2465                              272
3   26-Jan-20                     2446                              245
4   02-Feb-20                     2451                              267
..        ...                      ...                              ...
56  31-Jan-21                     2446                              245
57  07-Feb-21                     2451                              267
58  14-Feb-21                     2456                              265
59  21-Feb-21                     2463                              250
60  28-Feb-21                     2488                              255

[61 rows x 3 columns]

In [41]:
heart_data_2015_19['2015-19 heart disease Percentage of Total Deaths'] = (heart_data_2015_19['2015-19 avg heart disease deaths'] / heart_data_2015_19['2015-19 avg total deaths']) * 100
heart_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg heart disease deaths,2015-19 heart disease Percentage of Total Deaths
0,05-Jan-20,2498,269,10.7686
1,12-Jan-20,2490,258,10.3614
2,19-Jan-20,2465,272,11.0345
3,26-Jan-20,2446,245,10.0164
4,02-Feb-20,2451,267,10.8935
...,...,...,...,...
56,31-Jan-21,2446,245,10.0164
57,07-Feb-21,2451,267,10.8935
58,14-Feb-21,2456,265,10.7899
59,21-Feb-21,2463,250,10.1502
60,28-Feb-21,2488,255,10.2492

In [42]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], heart_data['2020-21 heart disease deaths']]
heart_data_2020_21 = pd.DataFrame(data)
heart_data_2020_21 = heart_data_2020_21.T
heart_data_2020_21

         date 2020-21 total deaths 2020-21 heart disease deaths
0   05-Jan-20                 2498                          215
1   12-Jan-20                 2511                          218
2   19-Jan-20                 2501                          234
3   26-Jan-20                 2597                          244
4   02-Feb-20                 2510                          235
..        ...                  ...                          ...
56  31-Jan-21                 2527                          221
57  07-Feb-21                 2650                          249
58  14-Feb-21                 2534                          250
59  21-Feb-21                 2512                          208
60  28-Feb-21                 2623                          244

[61 rows x 3 columns]

In [43]:
heart_data_2020_21['2020-21 heart disease Percentage of Total Deaths'] = (heart_data_2020_21['2020-21 heart disease deaths'] / heart_data_2020_21['2020-21 total deaths']) * 100
heart_data_2020_21

,date,2020-21 total deaths,2020-21 heart disease deaths,2020-21 heart disease Percentage of Total Deaths
0,05-Jan-20,2498,215,8.60689
1,12-Jan-20,2511,218,8.6818
2,19-Jan-20,2501,234,9.35626
3,26-Jan-20,2597,244,9.39546
4,02-Feb-20,2510,235,9.36255
...,...,...,...,...
56,31-Jan-21,2527,221,8.74555
57,07-Feb-21,2650,249,9.39623
58,14-Feb-21,2534,250,9.86582
59,21-Feb-21,2512,208,8.28025
60,28-Feb-21,2623,244,9.30233

In [44]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], pneumonia_data['2015-19 avg pneumonia deaths']]
pneumonia_data_2015_19 = pd.DataFrame(data)
pneumonia_data_2015_19 = pneumonia_data_2015_19.T
pneumonia_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg pneumonia deaths
0   05-Jan-20                     2498                           45
1   12-Jan-20                     2490                           42
2   19-Jan-20                     2465                           37
3   26-Jan-20                     2446                           35
4   02-Feb-20                     2451                           37
..        ...                      ...                          ...
56  31-Jan-21                     2446                           35
57  07-Feb-21                     2451                           37
58  14-Feb-21                     2456                           35
59  21-Feb-21                     2463                           43
60  28-Feb-21                     2488                           40

[61 rows x 3 columns]

In [45]:
pneumonia_data_2015_19['2015-19 pneumonia Percentage of Total Deaths'] = (pneumonia_data_2015_19['2015-19 avg pneumonia deaths'] / pneumonia_data_2015_19['2015-19 avg total deaths']) * 100
pneumonia_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg pneumonia deaths,2015-19 pneumonia Percentage of Total Deaths
0,05-Jan-20,2498,45,1.80144
1,12-Jan-20,2490,42,1.68675
2,19-Jan-20,2465,37,1.50101
3,26-Jan-20,2446,35,1.43091
4,02-Feb-20,2451,37,1.50959
...,...,...,...,...
56,31-Jan-21,2446,35,1.43091
57,07-Feb-21,2451,37,1.50959
58,14-Feb-21,2456,35,1.42508
59,21-Feb-21,2463,43,1.74584
60,28-Feb-21,2488,40,1.60772

In [46]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], pneumonia_data['2020-21 pneumonia deaths']]
pneumonia_data_2020_21 = pd.DataFrame(data)
pneumonia_data_2020_21 = pneumonia_data_2020_21.T
pneumonia_data_2020_21

         date 2020-21 total deaths 2020-21 pneumonia deaths
0   05-Jan-20                 2498                       42
1   12-Jan-20                 2511                       40
2   19-Jan-20                 2501                       37
3   26-Jan-20                 2597                       44
4   02-Feb-20                 2510                       31
..        ...                  ...                      ...
56  31-Jan-21                 2527                       26
57  07-Feb-21                 2650                       37
58  14-Feb-21                 2534                       27
59  21-Feb-21                 2512                       37
60  28-Feb-21                 2623                       37

[61 rows x 3 columns]

In [47]:
pneumonia_data_2020_21['2020-21 pneumonia Percentage of Total Deaths'] = (pneumonia_data_2020_21['2020-21 pneumonia deaths'] / pneumonia_data_2020_21['2020-21 total deaths']) * 100
pneumonia_data_2020_21

,date,2020-21 total deaths,2020-21 pneumonia deaths,2020-21 pneumonia Percentage of Total Deaths
0,05-Jan-20,2498,42,1.68135
1,12-Jan-20,2511,40,1.59299
2,19-Jan-20,2501,37,1.47941
3,26-Jan-20,2597,44,1.69426
4,02-Feb-20,2510,31,1.23506
...,...,...,...,...
56,31-Jan-21,2527,26,1.02889
57,07-Feb-21,2650,37,1.39623
58,14-Feb-21,2534,27,1.06551
59,21-Feb-21,2512,37,1.47293
60,28-Feb-21,2623,37,1.4106

In [48]:
data = [new_total_data['date'], new_total_data['2015-19 avg total deaths'], respiratory_data['2015-19 avg respiratory disease deaths']]
respiratory_data_2015_19 = pd.DataFrame(data)
respiratory_data_2015_19 = respiratory_data_2015_19.T
respiratory_data_2015_19

         date 2015-19 avg total deaths 2015-19 avg respiratory disease deaths
0   05-Jan-20                     2498                                    233
1   12-Jan-20                     2490                                    220
2   19-Jan-20                     2465                                    206
3   26-Jan-20                     2446                                    218
4   02-Feb-20                     2451                                    219
..        ...                      ...                                    ...
56  31-Jan-21                     2446                                    218
57  07-Feb-21                     2451                                    219
58  14-Feb-21                     2456                                    212
59  21-Feb-21                     2463                                    216
60  28-Feb-21                     2488                                    206

[61 rows x 3 columns]

In [49]:
respiratory_data_2015_19['2015-19 respiratory disease Percentage of Total Deaths'] = (respiratory_data_2015_19['2015-19 avg respiratory disease deaths'] / respiratory_data_2015_19['2015-19 avg total deaths']) * 100
respiratory_data_2015_19

,date,2015-19 avg total deaths,2015-19 avg respiratory disease deaths,2015-19 respiratory disease Percentage of Total Deaths
0,05-Jan-20,2498,233,9.32746
1,12-Jan-20,2490,220,8.83534
2,19-Jan-20,2465,206,8.357
3,26-Jan-20,2446,218,8.91251
4,02-Feb-20,2451,219,8.93513
...,...,...,...,...
56,31-Jan-21,2446,218,8.91251
57,07-Feb-21,2451,219,8.93513
58,14-Feb-21,2456,212,8.63192
59,21-Feb-21,2463,216,8.76979
60,28-Feb-21,2488,206,8.27974

In [50]:
data = [new_total_data['date'], new_total_data['2020-21 total deaths'], respiratory_data['2020-21 respiratory disease deaths']]
respiratory_data_2020_21 = pd.DataFrame(data)
respiratory_data_2020_21 = respiratory_data_2020_21.T
respiratory_data_2020_21

         date 2020-21 total deaths 2020-21 respiratory disease deaths
0   05-Jan-20                 2498                                240
1   12-Jan-20                 2511                                240
2   19-Jan-20                 2501                                222
3   26-Jan-20                 2597                                242
4   02-Feb-20                 2510                                226
..        ...                  ...                                ...
56  31-Jan-21                 2527                                211
57  07-Feb-21                 2650                                231
58  14-Feb-21                 2534                                199
59  21-Feb-21                 2512                                197
60  28-Feb-21                 2623                                226

[61 rows x 3 columns]

In [51]:
respiratory_data_2020_21['2020-21 respiratory disease Percentage of Total Deaths'] = (respiratory_data_2020_21['2020-21 respiratory disease deaths'] / respiratory_data_2020_21['2020-21 total deaths']) * 100
respiratory_data_2020_21

,date,2020-21 total deaths,2020-21 respiratory disease deaths,2020-21 respiratory disease Percentage of Total Deaths
0,05-Jan-20,2498,240,9.60769
1,12-Jan-20,2511,240,9.55795
2,19-Jan-20,2501,222,8.87645
3,26-Jan-20,2597,242,9.31844
4,02-Feb-20,2510,226,9.00398
...,...,...,...,...
56,31-Jan-21,2527,211,8.34982
57,07-Feb-21,2650,231,8.71698
58,14-Feb-21,2534,199,7.8532
59,21-Feb-21,2512,197,7.84236
60,28-Feb-21,2623,226,8.61609

In [52]:
data = [total_data["date"],
            total_data["COVID-19 new infections"], 
            new_total_data["2020-21 total deaths"],
            cancer_data_2015_19["2015-19 Cancer Percentage of Total Deaths"],
            cerebro_data_2015_19["2015-19 cerebrovascular disease Percentage of Total Deaths"],
            clrd_data_2015_19["2015-19 chronic lower respiratory disease Percentage of Total Deaths"],
            dementia_data_2015_19["2015-19 dementia Percentage of Total Deaths"],
            diabetes_data_2015_19["2015-19 diabetes Percentage of Total Deaths"],
            heart_data_2015_19["2015-19 heart disease Percentage of Total Deaths"], 
            pneumonia_data_2015_19["2015-19 pneumonia Percentage of Total Deaths"], 
            respiratory_data_2015_19["2015-19 respiratory disease Percentage of Total Deaths"], 
            ]
perc_Deaths_Summary2015_19 = pd.DataFrame(data).T

#round to 2 decimal places 
cols = perc_Deaths_Summary2015_19.columns
perc_Deaths_Summary2015_19[cols[1:]] = perc_Deaths_Summary2015_19[cols[1:]].apply(pd.to_numeric, errors='coerce')
perc_Deaths_Summary2015_19 = perc_Deaths_Summary2015_19.round(2)

perc_Deaths_Summary2015_19

,date,COVID-19 new infections,2020-21 total deaths,2015-19 Cancer Percentage of Total Deaths,2015-19 cerebrovascular disease Percentage of Total Deaths,2015-19 chronic lower respiratory disease Percentage of Total Deaths,2015-19 dementia Percentage of Total Deaths,2015-19 diabetes Percentage of Total Deaths,2015-19 heart disease Percentage of Total Deaths,2015-19 pneumonia Percentage of Total Deaths,2015-19 respiratory disease Percentage of Total Deaths
0,05-Jan-20,0,2498,34.75,7.29,5.32,9.29,2.84,10.77,1.80,9.33
1,12-Jan-20,0,2511,34.90,7.15,4.98,9.00,2.97,10.36,1.69,8.84
2,19-Jan-20,0,2501,35.46,6.77,4.79,8.92,3.37,11.03,1.50,8.36
3,26-Jan-20,4,2597,35.57,7.20,5.15,8.91,3.27,10.02,1.43,8.91
4,02-Feb-20,8,2510,35.25,6.85,5.10,8.98,3.18,10.89,1.51,8.94
...,...,...,...,...,...,...,...,...,...,...,...
56,31-Jan-21,44,2527,35.57,7.20,5.15,8.91,3.27,10.02,1.43,8.91
57,07-Feb-21,39,2650,35.25,6.85,5.10,8.98,3.18,10.89,1.51,8.94
58,14-Feb-21,46,2534,34.93,6.72,4.85,9.12,3.46,10.79,1.43,8.63
59,21-Feb-21,25,2512,34.84,6.90,4.79,9.18,3.05,10.15,1.75,8.77
60,28-Feb-21,42,2623,35.85,7.03,4.38,9.08,3.09,10.25,1.61,8.28

In [53]:
data = [total_data["date"],
            total_data["COVID-19 new infections"], 
            new_total_data["2020-21 total deaths"],
            cancer_data_2020_21["2020-21 Cancer Percentage of Total Deaths"],
            cerebro_data_2020_21["2020-21 cerebrovascular disease Percentage of Total Deaths"],
            clrd_data_2020_21["2020-21 chronic lower respiratory disease Percentage of Total Deaths"],
            dementia_data_2020_21["2020-21 dementia Percentage of Total Deaths"],
            diabetes_data_2020_21["2020-21 diabetes Percentage of Total Deaths"],
            heart_data_2020_21["2020-21 heart disease Percentage of Total Deaths"], 
            pneumonia_data_2020_21["2020-21 pneumonia Percentage of Total Deaths"], 
            respiratory_data_2020_21["2020-21 respiratory disease Percentage of Total Deaths"], 
            ]
perc_Deaths_Summary2020_21 = pd.DataFrame(data).T

#round to 2 decimal places 
cols = perc_Deaths_Summary2020_21.columns
perc_Deaths_Summary2020_21[cols[1:]] = perc_Deaths_Summary2020_21[cols[1:]].apply(pd.to_numeric, errors='coerce')
perc_Deaths_Summary2020_21 = perc_Deaths_Summary2020_21.round(2)

perc_Deaths_Summary2020_21

,date,COVID-19 new infections,2020-21 total deaths,2020-21 Cancer Percentage of Total Deaths,2020-21 cerebrovascular disease Percentage of Total Deaths,2020-21 chronic lower respiratory disease Percentage of Total Deaths,2020-21 dementia Percentage of Total Deaths,2020-21 diabetes Percentage of Total Deaths,2020-21 heart disease Percentage of Total Deaths,2020-21 pneumonia Percentage of Total Deaths,2020-21 respiratory disease Percentage of Total Deaths
0,05-Jan-20,0,2498,33.99,5.56,5.08,10.21,3.44,8.61,1.68,9.61
1,12-Jan-20,0,2511,35.80,6.61,5.77,10.55,2.83,8.68,1.59,9.56
2,19-Jan-20,0,2501,36.47,5.64,4.80,10.28,2.84,9.36,1.48,8.88
3,26-Jan-20,4,2597,35.85,6.12,5.08,9.55,2.96,9.40,1.69,9.32
4,02-Feb-20,8,2510,33.07,6.45,5.34,11.00,3.19,9.36,1.24,9.00
...,...,...,...,...,...,...,...,...,...,...,...
56,31-Jan-21,44,2527,35.38,6.17,4.47,11.44,2.41,8.75,1.03,8.35
57,07-Feb-21,39,2650,34.94,6.23,4.79,9.85,3.13,9.40,1.40,8.72
58,14-Feb-21,46,2534,36.07,6.27,4.22,9.47,3.08,9.87,1.07,7.85
59,21-Feb-21,25,2512,36.11,6.93,4.38,10.23,2.95,8.28,1.47,7.84
60,28-Feb-21,42,2623,36.14,6.25,4.80,10.14,2.29,9.30,1.41,8.62

In [54]:
###############################
## tables to upload to SQL
# new_total_data                 1
# cancer_data                    2
# cerebro_data                   3
# clrd_data                      4
# dementia_data                  5
# diabetes_data                  6
# heart_data                     7
# pneumonia_data                 8 
# respiratory_data               9 
# Deaths_Summary2015_19         10
# Deaths_Summary2020_21         11
# perc_Deaths_Summary2015_19    12
# perc_Deaths_Summary2020_21    13

In [55]:
#read everything into csv

new_total_data.to_csv('../Tables/total_data.csv', index=False)  
cancer_data .to_csv('../Tables/cancer_data.csv', index=False)  
cerebro_data.to_csv('../Tables/cerebro_data.csv', index=False)  
clrd_data.to_csv('../Tables/clrd_data.csv', index=False)  
dementia_data.to_csv('../Tables/dementia_data.csv', index=False)  
diabetes_data.to_csv('../Tables/diabetes_data.csv', index=False)  
heart_data.to_csv('../Tables/heart_data.csv', index=False)  
pneumonia_data.to_csv('../Tables/pneumonia_data.csv', index=False)  
respiratory_data.to_csv('../Tables/respiratory_data.csv', index=False)  
Deaths_Summary2015_19.to_csv('../Tables/Deaths_Summary2015_19.csv', index=False)  
Deaths_Summary2020_21.to_csv('../Tables/Deaths_Summary2020_21.csv', index=False)  
perc_Deaths_Summary2015_19.to_csv('../Tables/perc_Deaths_Summary2015_19.csv', index=False)  
perc_Deaths_Summary2020_21.to_csv('../Tables/perc_Deaths_Summary2020_21.csv', index=False)

In [56]:
#class Total(Base):
#    __tablename__ = 'total_deaths'
#    date = Column(Integer, primary_key=True)
#    avg_total_deaths_2015_19 = Column(Float)
#    total_deaths_2020_21 = Column(Float)
#    total_change = Column(Float)
#    percent_total_change = Column(Float)

In [57]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL')
new_total_data.to_sql('new_total_data', engine, if_exists = 'replace')

In [58]:
cancer_data.to_sql('cancer_data', engine, if_exists = 'replace')

In [59]:
cerebro_data.to_sql('cerebro_data', engine, if_exists = 'replace')

In [60]:
clrd_data.to_sql('clrd_data', engine, if_exists = 'replace')

In [61]:
dementia_data.to_sql('dementia_data', engine, if_exists = 'replace')

In [62]:
diabetes_data.to_sql('diabetes_data', engine, if_exists = 'replace')

In [63]:
heart_data.to_sql('heart_data', engine, if_exists = 'replace')

In [64]:
pneumonia_data.to_sql('pneumonia_data', engine, if_exists = 'replace')

In [65]:
respiratory_data.to_sql('respiratory_data', engine, if_exists = 'replace')

In [66]:
Deaths_Summary2015_19.to_sql('Deaths_Summary2015_19', engine, if_exists = 'replace')

In [67]:
Deaths_Summary2020_21.to_sql('Deaths_Summary2020_21', engine, if_exists = 'replace')

In [70]:
perc_Deaths_Summary2015_19.to_sql('perc_Deaths_Summary2015_19', engine, if_exists = 'replace')

In [71]:
perc_Deaths_Summary2020_21.to_sql('respiratory_data', engine, if_exists = 'replace')