In [4]:
# Import SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
from config import username, password

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create a connection to a SQLite database

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL_DB')

In [3]:
conn = engine.connect()

In [7]:
data = pd.read_sql("SELECT * FROM total", conn)

In [8]:
data.head()

,date,2015-19 range,COVID-19 new infections,2015-19 average deaths,2020-21 deaths
0,05-Jan-20,2452|2573,NaN,2498,2498
1,12-Jan-20,2369|2601,NaN,2490,2511
2,19-Jan-20,2368|2607,NaN,2465,2501
3,26-Jan-20,2328|2565,4.0,2446,2597
4,02-Feb-20,2270|2550,8.0,2451,2510